@model IEnumerable<Category>

<div class="row mt-3">
    @foreach (Category catItem in Model)
    {
        <div class="col-md-3">
            <a href="#" class="text-dark" style="text-decoration:none;">
                <div class="card">
                    <img class="img-thumbnail" src="@catItem.ThumbnailImagePath" asp-append-version="true" alt="@catItem.Title">
                    <div class="card-body">
                        <h5 class="card-title">@catItem.Title</h5>
                        <p class="card-text">@catItem.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>